/* shared styles */
* {
    font-family: 'Dosis', sans-serif;
}
.header-banner-hello{
  
    font-size: 7rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
/* .btn-cv{
 transition: 0.4s ease-in-out;
} */
li{
    
    background: linear-gradient(
        to right,
        rgb(34, 166, 153),
        rgb(34, 166, 153)
    ),
    linear-gradient(
        to right,
        rgba(255,0,0,1),
        rgba(255,0,180,1),
        rgba(0,100,200,1)
    );
    background-size: 100% 3px,0 3px;
    background-position:100% 100% , 0 100%;
    background-repeat:no-repeat;
    transition: background-size 0.8s ;
}
li:hover{
    background-size: 0 3px , 100% 3px;
}
